<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Film List</h1>
    <ul id="film-list">
      {{ range .Films}}
      <li>{{ .Title }} - {{ .Director }}</li>
      {{ end }}
    </ul>
    <div class="div">
      <h1>Add Film</h1>
      <form hx-post="/add/" hx-target="#film-list" hx-swap="beforeend">
        <div>
          <label>Title</label
          ><input name="title" placeholder="Title..." type="text" />
        </div>
        <div>
          <label>Document</label>
          <input name="director" placeholder="Director..." type="text" />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
